<?xml version="1.0" encoding="UTF-8"?>
<QUERY>
	<QUERY_ELEMENT>
		<select id="GET_USERS" returnType="UserBean">
			select * from tbl_users order by 1 desc
		</select>
		<select id="GET_CANDIDATE_USERS">
			select * from tbl_users where user_type in ('CANDIDATE')
		</select>
		<select id="GET_ALL_QUESTIONS">
			select q.question_id as questionID, q.question as question , o.option_value as answer,
			q.created_by as createdBy, q.updated_by as updatedBy, q.created_on as createdOn, q.updated_on as updatedOn  
			from tbl_questions q inner join tbl_que_options o on o.question_id = q.question_id where o.isCorrect = 1
		</select>
	</QUERY_ELEMENT>
</QUERY>