<?xml version="1.0" encoding="UTF-8"?>
<search>
	<query id="GET_USER_PROFILE_DATA">
		select * from tbl_users where {email_id in ($[pEmailId])}  and { user_id in($[pUserId]) } limit 1
	</query>
	<query id="GET_ALL_QUESTIONS">
		select q.question_id as questionID, q.question as question , o.option_value as answer,
		q.created_by as createdBy, q.updated_by as updatedBy, q.created_on as createdOn, q.updated_on as updatedOn 
		from tbl_questions q inner join tbl_que_options o on o.question_id = q.question_id where o.isCorrect = 1
		and { q.created_by in ($[pList]) } and { q.updated_on in ($[pUpdatedOn]) }
	</query>
	<query id="GET_ALL_ACCESS_RIGHTS_INFO">
		select functionality_id,user_id,user_type,functionality_name,functionality_code from tbl_functionalities
		where { user_id in($[pUserId]) }
		and { user_type in ($[pUserType]) }
	</query>
	<query id="GET_ADDED_QUESTIONS_FOR_SELECT_TEST">
		select que.question_id, que.question 
		from tbl_questions que 
		inner join tbl_questions_group qg 
		on que.question_id = qg.question_id
		inner join tbl_groups_test gt 
		on gt.group_id = qg.group_id WHERE { gt.test_id in ($[pTestID]) }
	</query>
	
</search>